---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import banner from '/src/assets/banner.png';
---

<Layout title="Sec1 Security">
	<main class="bg-gray-100">
		<div class="bg-black py-4">
			<img src={banner.src} class="mx-auto max-w-full" alt="Banner">
		</div>
		<div class="container mx-auto py-8">
			<h1 class="text-3xl font-bold mb-4">Enhanced Security Solutions at Your Service</h1>
			<h2 class="text-xl font-bold mb-4">Unleash Our Expertise in Security Services</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
				<Card>
					<h3 class="text-lg font-bold mb-2">Penetration tests:</h3>
					<p class="text-gray-700">Unleashing Advanced Penetration Tests for Uncovering Root Causes - Comprehensive Reports Guaranteed!</p>
				</Card>
				<Card>
					<h3 class="text-lg font-bold mb-2">Security audits:</h3>
					<p class="text-gray-700">Years of Experience in Financial, Retail, and More - Our Audits Speak Volumes! Though not currently certified, our consultants boast extensive PCI auditing experience.</p>
				</Card>
				<Card>
					<h3 class="text-lg font-bold mb-2">Email security:</h3>
					<p class="text-gray-700">Dominating the Danish Market - DMARC and DNSSEC Implemented Successfully for a Major Corporation. Over 1200 Domains Secured and Operational within 6 Months!</p>
				</Card>
				<Card>
					<h3 class="text-lg font-bold mb-2">Cloud services:</h3>
					<p class="text-gray-700">Empower Your Security Score in No Time! MFA and Conditional Access Expertise for MS Cloud Environments - Let Our Consultants Guide You.</p>
				</Card>
				<Card>
					<h3 class="text-lg font-bold mb-2">Tailored to Your Needs:</h3>
					<p class="text-gray-700">No Time Wasted! Straightforward Results with Actionable Recommendations - No Technical Nonsense, Just Practical Solutions.</p>
				</Card>
				<Card>
					<h3 class="text-lg font-bold mb-2">Other stuff:</h3>
					<p class="text-gray-700"><a href="/blog" class="text-blue-500"><svg xmlns="http://www.w3.org/2000/svg" class="inline-block fill-current text-blue-500" height="1em" viewBox="0 0 448 512"><path d="M0 64C0 46.3 14.3 32 32 32c229.8 0 416 186.2 416 416c0 17.7-14.3 32-32 32s-32-14.3-32-32C384 253.6 226.4 96 32 96C14.3 96 0 81.7 0 64zM0 416a64 64 0 1 1 128 0A64 64 0 1 1 0 416zM32 160c159.1 0 288 128.9 288 288c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-123.7-100.3-224-224-224c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg> Security blog</a></p>
					<p class="text-gray-700"><a href="https://infosec.exchange/@Sec1Security" rel="me" class="text-blue-500"><svg xmlns="http://www.w3.org/2000/svg" class="inline-block fill-current text-blue-500" height="1em" viewBox="0 0 448 512"><path d="M433 179.11c0-97.2-63.71-125.7-63.71-125.7-62.52-28.7-228.56-28.4-290.48 0 0 0-63.72 28.5-63.72 125.7 0 115.7-6.6 259.4 105.63 289.1 40.51 10.7 75.32 13 103.33 11.4 50.81-2.8 79.32-18.1 79.32-18.1l-1.7-36.9s-36.31 11.4-77.12 10.1c-40.41-1.4-83-4.4-89.63-54a102.54 102.54 0 0 1-.9-13.9c85.63 20.9 158.65 9.1 178.75 6.7 56.12-6.7 105-41.3 111.23-72.9 9.8-49.8 9-121.5 9-121.5zm-75.12 125.2h-46.63v-114.2c0-49.7-64-51.6-64 6.9v62.5h-46.33V197c0-58.5-64-56.6-64-6.9v114.2H90.19c0-122.1-5.2-147.9 18.41-175 25.9-28.9 79.82-30.8 103.83 6.1l11.6 19.5 11.6-19.5c24.11-37.1 78.12-34.8 103.83-6.1 23.71 27.3 18.4 53 18.4 175z"/></svg> Mastodon</a></p>
				</Card>
				<div class="bg-white rounded-lg shadow-lg p-6 col-span-3 font-bold py-8">
					<h3 class="text-xl font-bold mb-2">Contact:</h3>
					<p class="text-gray-700 text-lg">Email: nn@sec1.dk</p>
					<p class="text-gray-700 text-lg">Phone:(+45) 2630 4501</p>
				</div>
			</div>
		</div>
	</main>
</Layout>
